<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/list.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%- include('header'); %>

    <h2><center><b class="home-header">RECOMMENDED RECIPE</b></center></h2>
    <div class="slider-container recommended">
      <div class="slider-arrow prev" onclick="prevRecommendedSlide()">
        &#10094;
      </div>
      <% if (recommededRecipes && recommededRecipes.length > 0) { %> <% for (let
      i = 0; i < recommededRecipes.length; i++) { %>
      <a href="/user/recipe?id=<%= recommededRecipes[i].id %>" class="homeImages">
      <div class="slider-item">
        <h3><%= recommededRecipes[i].title %></h3>
        <img
          src="../assets/FoodImages/<%= recommededRecipes[i].image_name %>.jpg"
          alt="<%= recommededRecipes[i].title %>"
        />
      </div>
      </a>
      <% } %> <% } else { %>
      <!-- Display a message or placeholder content when data is not available -->
      <p>No recommended recipes available.</p>
      <% } %>

      <div class="slider-arrow next" onclick="nextRecommendedSlide()">
        &#10095;
      </div>
    </div>

    <h2><center><b class="home-header">LATEST RECIPE</b></center></h2>
    <div class="slider-container latest">
      <div class="slider-arrow prev" onclick="prevLatestSlide()">&#10094;</div>
      <% for (let i = 0; i < latestRecipe.length; i++) { %>
      <a href="/user/recipe?id=<%= latestRecipe[i].id %>" class="homeImages">
      <div class="slider-item">
        <h3><%= latestRecipe[i].title %></h3>
        <img
          src="../assets/FoodImages/<%=latestRecipe[i].image_name%>.jpg"
          alt="<%= latestRecipe[i].title %>"
        />
      </div>
      </a>
      <% } %>
      <div class="slider-arrow next" onclick="nextLatestSlide()">&#10095;</div>
    </div>

    <script>
      let recommendedSlideIndex = 0;

      function showRecommendedSlide(index) {
        const recommendedSlides = document.querySelectorAll(
          '.slider-container.recommended .slider-item'
        );
        if (index < 0) {
          recommendedSlideIndex = recommendedSlides.length - 1;
        } else if (index >= recommendedSlides.length) {
          recommendedSlideIndex = 0;
        }

        for (let i = 0; i < recommendedSlides.length; i++) {
          recommendedSlides[i].style.display = 'none';
        }

        for (
          let i = recommendedSlideIndex;
          i < recommendedSlideIndex + 3;
          i++
        ) {
          if (recommendedSlides[i]) {
            recommendedSlides[i].style.display = 'block';
          }
        }
      }

      function prevRecommendedSlide() {
        showRecommendedSlide((recommendedSlideIndex -= 3));
      }

      function nextRecommendedSlide() {
        showRecommendedSlide((recommendedSlideIndex += 3));
      }

      let latestSlideIndex = 0;

      function showLatestSlide(index) {
        const latestSlides = document.querySelectorAll(
          '.slider-container.latest .slider-item'
        );
        if (index < 0) {
          latestSlideIndex = latestSlides.length - 1;
        } else if (index >= latestSlides.length) {
          latestSlideIndex = 0;
        }

        for (let i = 0; i < latestSlides.length; i++) {
          latestSlides[i].style.display = 'none';
        }

        for (let i = latestSlideIndex; i < latestSlideIndex + 3; i++) {
          if (latestSlides[i]) {
            latestSlides[i].style.display = 'block';
          }
        }
      }

      function prevLatestSlide() {
        showLatestSlide((latestSlideIndex -= 3));
      }

      function nextLatestSlide() {
        showLatestSlide((latestSlideIndex += 3));
      }

      // Initial display
      showRecommendedSlide(recommendedSlideIndex);
      showLatestSlide(latestSlideIndex);
    </script>
  </body>

  <%- include('footer'); %>
</html>
