<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/master.css" type="text/css" />
  </head>
  <body>
    <%- include('header'); %> <% recipeData.forEach((modifiedRecipe) => { %>
    <div class="md" style="margin-top: 4rem; margin-left: 8rem; margin-right: 8rem">
      <div class="flex-wrap d-flex justify-content-start">
        <!-- image -->
        <div>
          <img src="/assets/FoodImages/<%= modifiedRecipe.image_name %>.jpg" style="width: 600px" />
        </div>

        <div style="width: 30px"></div>

        <div style="width: 30rem">
          <!-- title -->
          <h1 style="font-size: 48px"><%= modifiedRecipe.modifiedRecipe_title %></h1>

          <!-- Ingredients -->
          <h3>Ingredients</h3>
          <ul>
            <% modifiedRecipe.modifiedRecipe_ingredients.forEach((modifiedRecipe_ingredient) => { %>
            <li><%= modifiedRecipe_ingredient %></li>
            <% }); %>
          </ul>

          <div class="d-flex">
            <a href="/user/modifyRecipe?modifiedRecipe_id=<%= modifiedRecipe.modifiedRecipe_id %>">
              <button class="btn btn-outline-success btn-lg">Edit Recipe</button>
            </a>
          </div>
        </div>
      </div>

      <div class="flex-column flex-xl-row d-flex justify-content-start my-4">
        <div class="d-flex flex-column" style="width: 700px; margin-right: 2rem">
          <h2>instruction</h2>
          <!-- instruction -->
          <p><%= modifiedRecipe.modifiedRecipe_instructions %></p>
        </div>
        <% }); %>

        <!-- recommended recipe -->
        <div id="recommended">
          <h3>recommended recipe</h3>
          <div class="flex-row flex-xl-column d-flex">
            <div id="menu" class="flex-column flex-xl-row d-flex m-3">
              <img src="dish.jpg" style="width: 200px" />
              <h3 class="my-2">DISH NAME</h3>
            </div>

            <div id="menu" class="flex-column flex-xl-row d-flex m-3">
              <img src="dish.jpg" style="width: 200px" />
              <h3 class="my-2">DISH NAME</h3>
            </div>

            <div id="menu" class="flex-column flex-xl-row d-flex m-3">
              <img src="dish.jpg" style="width: 200px" />
              <h3 class="my-2">DISH NAME</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
  </body>
</html>
