<!DOCTYPE html>
<html>
<head>
  <%- include('header'); %>    

<!-- Page contents-->




<hr>
<div class="recipeHeader">
<h3>My Recipes</h3>
</div>

<button id="ToggleDelete" class="recipePageDeleteButton" onclick="">Delete</button>
<div id="recipe" value=<%= myRecipe %>></div>

<div class="container">

    <!-- class for the images shld be recipeImage and recipeImage2 -->
    
      <div class="row">
        <% if (!myRecipe|| myRecipe.length===0){ %>
         
          <p>No Recipe Found</p>
          <%} else { %>
            
        <% myRecipe.forEach(function(dish){ %>
          <div class="col-md-2">
            <a href="/user/recipe?id=<%=dish.id %>">
      <img class="recipeImage" src="/assets/FoodImages/<%=dish.image_name%>.jpg" >
      <p class="recipeImageText"><%=dish.title %></p>
      <form action="/user/deleteFavourite" method="post" id="delete-form" style="display:none;padding:5px;">
        <input type="hidden" value="<%=dish.id %>" name="recipe_id">
        <input type="submit" value="delete">
      </form>
      </a>
      </div>
        <% }) %> 
        <% } %>
        
      </div>
</div>

<script>
  const deleteButton=document.getElementById("ToggleDelete")
  const delete_form=document.getElementById("delete-form")
   deleteButton.addEventListener("click",function(){
   if(deleteButton.textContent=="Delete"){
    deleteButton.textContent="Done"
    delete_form.style.display="inline"
   }
   else{
    deleteButton.textContent="Delete"
    delete_form.style.display="none"
   }

   })
  </script>





<div class="buttonPos">
    <button onclick="expCol()" id="expand">Expand</button>
    </div>



<hr>
<div class="recipeHeader">
<h3>Favourite Recipes</h3>
</div>

<button id="ToggleModifiedDelete" class="recipePageDeleteButton" onclick="">Delete</button>
<div class="container">

  <!-- class for the images shld be recipeImage and recipeImage2 -->
    <div class="row">
      <% if (!modifiedRecipe|| modifiedRecipe.length===0){ %>
         
        <p>No Recipe Found</p>
        <%} else { %>
      <% modifiedRecipe.forEach(function(myDish){ %>
        <div class="col-md-2">
          <a href="/user/modifiedRecipe?modifiedRecipe_id=<%=myDish.modifiedRecipe_id %>">
    <img class="recipeImage" src="/assets/FoodImages/<%=myDish.image_name%>.jpg" >
    <p class="recipeImageText"><%=myDish.modifiedRecipe_title %></p>

    <form action="/user/deleteModified" method="post" id="delete-modified-form" style="display:none;padding:5px;">
      <input type="hidden" value="<%=myDish.modifiedRecipe_id %>" name="recipe_id">
      <input type="submit" value="delete">
    </form>
  </a>
    </div>
    <% }) %> 
    <% } %>
      
    </div>
</div>


<div class="buttonPos">
<button id="expandFav">Expand</button>
</div>
<hr>

<script>

    // myRecipe script

    const modifiedDeleteButton=document.getElementById("ToggleModifiedDelete")
  const delete_modified_form=document.getElementById("delete-modified-form")
  modifiedDeleteButton.addEventListener("click",function(){
   if(modifiedDeleteButton.textContent=="Delete"){
    modifiedDeleteButton.textContent="Done"
    delete_modified_form.style.display="inline"
   }
   else{
    modifiedDeleteButton.textContent="Delete"
    delete_modified_form.style.display="none"
   }

   })
    
    const expandButton=document.getElementById("expand")
   expandButton.addEventListener("click",function(){
    if(expandButton.textContent=="Expand"){
    expandButton.textContent="Collapse"
   }else
   {
    expandButton.textContent="Expand"
   }
   }
   )

   const expandFavButton=document.getElementById("expandFav")
   expandFavButton.addEventListener("click",function(){
    if(expandFavButton.textContent=="Expand"){
    expandFavButton.textContent="Collapse"
   }else
   {
    expandFavButton.textContent="Expand"
   }
   }
   )
  
    
   
   var checkHiddenImage=document.getElementsByClassName("recipeImage")
   var imageText=document.getElementsByClassName("recipeImageText")

   for(a=0;a<checkHiddenImage.length;a++){
    if(a>5){
      checkHiddenImage[a].style.display="none"
      imageText[a].style.display="none"
    }
   }
    
    function expCol(){
        
      for(i=0;i<checkHiddenImage.length;i++){
        
      if(i>5 && checkHiddenImage[i].style.display=="none"){
        imageText[i].style.display="block"
        checkHiddenImage[i].style.display="inline"
      }else if(i>5 && checkHiddenImage[i].style.display=="inline"){
        
        checkHiddenImage[i].style.display="none"
        imageText[i].style.display="none"
    
      }
    }
    }
    
    </script>
</body>

<%- include('footer'); %>    
</html>