<!DOCTYPE html>
<html>
<head>
  <%- include('header'); %>    

<!-- Page contents-->




<hr>
<div class="recipeHeader">
<h3>My Recipes</h3>
</div>



<div class="container">

    <!-- class for the images shld be recipeImage and recipeImage2 -->
      <div class="row">
        <% myRecipe.forEach(function(dish){ %>
          <div class="col-md-2">
            <a href="/user/recipe?id=<%=dish.id %>">
      <img class="recipeImage" src="/assets/FoodImages/<%=dish.image_name%>.jpg" >
      <p class="recipeImageText"><%=dish.title %></p>
      </a>
      </div>
        <% }) %> 
        
      </div>
</div>
<div class="buttonPos">
    <button onclick="expCol()" id="expand">Expand</button>
    </div>



<hr>
<div class="recipeHeader">
<h3>Favourite Recipes</h3>
</div>


<div class="container">

  <!-- class for the images shld be recipeImage and recipeImage2 -->
    <div class="row">
      <% myRecipe.forEach(function(dish){ %>
        <div class="col-md-2">
          <a href="/user/recipe?id=<%=dish.id %>">
    <img class="recipeImage" src="/assets/FoodImages/<%=dish.image_name%>.jpg" >
    <p class="recipeImageText"><%=dish.title %></p>
  </a>
    </div>
      <% }) %> 
      
    </div>
</div>


<div class="buttonPos">
<button id="expandFav">Expand</button>
</div>
<hr>

<script>

    // myRecipe script
    
    const expandButton=document.getElementById("expand")
   expandButton.addEventListener("click",function(){
    if(expandButton.textContent=="Expand"){
    expandButton.textContent="Collapse"
   }else
   {
    expandButton.textContent="Expand"
   }
   }
   )

   const expandFavButton=document.getElementById("expandFav")
   expandFavButton.addEventListener("click",function(){
    if(expandFavButton.textContent=="Expand"){
    expandFavButton.textContent="Collapse"
   }else
   {
    expandFavButton.textContent="Expand"
   }
   }
   )
  
    
   
   var checkHiddenImage=document.getElementsByClassName("recipeImage")
   var imageText=document.getElementsByClassName("recipeImageText")

   for(a=0;a<checkHiddenImage.length;a++){
    if(a>5){
      checkHiddenImage[a].style.display="none"
      imageText[a].style.display="none"
    }
   }
    
    function expCol(){
        
      for(i=0;i<checkHiddenImage.length;i++){
        
      if(i>5 && checkHiddenImage[i].style.display=="none"){
        imageText[i].style.display="block"
        checkHiddenImage[i].style.display="inline"
      }else if(i>5 && checkHiddenImage[i].style.display=="inline"){
        
        checkHiddenImage[i].style.display="none"
        imageText[i].style.display="none"
    
      }
    }
    }
    
    </script>
</body>

<%- include('footer'); %>    
</html>