<!DOCTYPE html>
<html>
<head>
  <title>recipe page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/master.css" type="text/css">
</head>
<body>

<%- include('header'); %>  

<% recipeData.forEach((recipes) => { %>
<div class="md" style="margin-top: 4rem; margin-left: 8rem; margin-right: 8rem;">
  <div class="flex-column flex-xl-row d-flex justify-content-start ">
      <!-- image -->
      <img src="/assets/FoodImages/<%=recipes.image_name%>.jpg" style="width: 600px;">

      <div style="width: 30px;"></div>

      <div>
      <!-- title -->
      <h1 style="font-size: 48px;"><%= recipes.title %></h1>

      <!-- Ingredients -->
      <h3>Ingredients</h3>
      <ul>
        <% recipes.ingredients.forEach((ingredient) => { %>
          <li><%= ingredient %></li>
        <% }); %>
      </ul>
      <a href="#"> <button class="btn btn-outline-success btn-lg">Modify Recipe</button> </a>
      <a href="javascript:document.addToFavourite.submit()"> <button class="btn btn-outline-success btn-lg">Add To Favourite</button> </a>
      <form action="/user/toFavourite" name="addToFavourite" method="post">
        <input type="hidden" value="<%=recipes.id %>" name="id">
      </form>
      </div>
  </div>

  <div class="flex-column flex-xl-row d-flex justify-content-start my-4">
      <div class="d-flex flex-column" style="width: 700px; margin-right: 2rem;">
      <h2>instruction</h2>    
      <!-- instruction -->
      <p><%= recipes.instructions %></p>
      </div>    
      <% }); %>

      <!-- recommended recipe -->
      <div id="recommended">
        <h3>recommended recipe</h3>
            <div class="flex-row flex-xl-column d-flex">
                <div id="menu" class="flex-column flex-xl-row d-flex m-3">
                    <img src="dish.jpg" style="width: 200px;">
                    <h3 class="my-2">DISH NAME</h3>
                </div>

                <div id="menu" class="flex-column flex-xl-row d-flex m-3">
                    <img src="dish.jpg" style="width: 200px;">
                    <h3 class="my-2">DISH NAME</h3>
                </div>

                <div id="menu" class="flex-column flex-xl-row d-flex m-3">
                    <img src="dish.jpg" style="width: 200px;">
                    <h3 class="my-2">DISH NAME</h3>
                </div>
            </div>
        </div>
  </div>
</div>

<%- include('footer') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>      
</body>
</html>
